.center {
    margin: auto;
    width: 65%;
    border-style: inset;
    padding: 10px;
    background-color: white;
  }

.textcenter {
    text-align: center!important;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
}

.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.bgimg {
    background-image: url("WhatisBigData.jpg");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 100px;
  }

body{
    margin: 0px;
}

label {
  cursor: default;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

p{
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 60px;
}